@import url(//db.onlinewebfonts.com/c/a4e40941cd04772dbe49aa5790ad5905?family=OPTICalculator);
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
    font-family: 'OPTICalculator';
    src: url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.eot');
    src: url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.eot?#iefix')
            format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.woff2')
            format('woff2'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.woff')
            format('woff'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.ttf')
            format('truetype'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.svg#OPTICalculator')
            format('svg');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.container {
    background-color: tomato;
    /* padding: 5px; */
    height: 300px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* grid-gap: 5px; */
}

#display {
    /* height: 50px; */
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    /* line-height: 50px; */
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    padding: 5px;
    background-color: darkorchid;
    font-family: OPTICalculator;
    /* margin-bottom: 10px; */
}

#clear {
    background-color: darkred;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    line-height: 50px;
}

/* .pad { */
/* grid-column: 1 / 4;
    grid-row: 3 / 7;
    display: grid; */
/* grid-template-areas:
        'seven eight nine'
        'four five six'
        'one two three'; */
/* } */

button {
    border: none;
    outline: none;
}

.keypad {
    background-color: blue;
    /* width: 50px;
    height: 50px; */
    line-height: 50px;
    /* border: 1px solid black; */
}

.zero {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.one {
    /* grid-area: one; */
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.two {
    /* grid-area: two; */
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.three {
    /* grid-area: three; */
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}
.four {
    /* grid-area: four; */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.five {
    /* grid-area: five; */
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.six {
    /* grid-area: six; */
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.seven {
    /* grid-area: seven; */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.eight {
    /* grid-area: eight; */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.nine {
    /* grid-area: nine; */
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

/* Operations */
#add {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
#subtract {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
#multiply {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
#divide {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}
#equals {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}
#decimal {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}
